<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

div {
  color: blue;
  font-family: 'Sofia';
  font-size:22px;
  background-color:powderblue;
  border:5px solid Violet;
  padding: 20px;
  border-radius: 20px;
  border-style: outset;
  width: 400px;
  height: 400px;
}
